<launch>

    <include file="$(find puppy_pi_bringup)/launch/start_dependence.launch" />

    <include file="$(find puppy_pi_bringup)/launch/start_camera.launch" />

    <include file="$(find puppy_pi_bringup)/launch/start_puppy_control.launch"/>

    <include file="$(find puppy_pi_bringup)/launch/start_functions.launch" />
    
</launch>
